<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./static/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./static/fonts/fontawesome/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/theme.css" />
  </head>
  <body>
    <div class="form-body">
      <div class="website-logo">
        <a href="./index.html">
          <div class="logo">
            <img class="logo-size" src="./static/images/logo-dark.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="row">
        <div class="img-holder">
          <div class="bg"></div>
          <div class="info-holder"></div>
        </div>
        <div class="form-holder">
          <div class="form-content">
            <div class="form-items">

              <!-- <p>
                Lorem ipsum dolor sit amet consectetur elit tempus mattis diam,
                vel ultrices lorem.
              </p> -->
              <div class="page-links">
                <a href="./login3.html" class="active">Login</a>
                <!-- <a href="./signup.html">Signup</a> -->
                <a href="{{ url_for('index') }}">Sign Up</a>
              </div>
              <!-- <div
                class="alert alert-warning alert-dismissible fade show with-icon"
                role="alert"
              >
                Please fill all the fields with valid credentials
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> -->
              <form action="{{ url_for('login') }}" method="POST">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for
                  message in messages %}
                  <div class="error-message">{{ message }}</div>
                  {% endfor %} {% endif %} {% endwith %}
                  </br>
                 
                <h3>Login</h3>
                <label for="emailid" class="d-none">Email Id</label>
                <input
                  class="form-control"
                  type="text"
                  name="username"
                  id="username"
                  placeholder="E-mail Address"
                  required
                />

                <label for="password" class="d-none">Password</label>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                  required
                />

                {{ form.recaptcha }}

                <div class="form-button">
                  <button id="submit" type="submit" class="ibtn">Login</button>
                  <a href="{{ url_for('forgot') }}">Forgot password?</a>
                </div>
                {{form.csrf_token }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/main.js"></script>
  </body>
</html>
